
<nav class="flex-no-wrap bg-bg fixed top-0 z-10 flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 lg:flex-wrap lg:justify-start lg:py-4">
    <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center px-2 lg:px-0">
            <a href="index.html"><div class="flex-shrink-0">
                <img class="h-16 w-auto" src="../../static/img/luck_logo.webp" alt="Learning Loop">
              </div></a>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">

              
                {% for item in navigation.items %}   
                {% if item.primary %}
                <a href="{{ item.url }}" class="rounded-md bg-primary hover:bg-integral px-3 py-2 text-sm font-medium text-white">{{ item.text }}</a>

              
              {% else %}
              <a href="{{ item.url }}"  class="rounded-md px-3 py-2 text-sm font-medium text-integral hover:bg-gray-700 hover:text-white">{{ item.text }}</a>

              {% endif %}
              {% endfor %}
              
              
            </div>
          </div>
        </div>
        
        <div class="flex lg:hidden">
          <!-- Mobile menu button -->
          <button id="menu-toggle" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        
      </div>
    </div>
  
   
  </nav>
  
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div id="mobile-menu" class="lg:hidden" style="display:none;" role="dialog" aria-modal="true">
                <!-- Background backdrop, show/hide based on slide-over state. -->
                <div class="fixed inset-0 z-50"></div>
                <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-bg px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-integral/10">
                    <div class="flex items-center justify-between">
                        <a href="index.html" class="-m-1.5 p-1.5">
                            <span class="sr-only">Learning Loop</span>
                            <img class="h-16 w-auto" src="img/luck_logo.webp" alt="Learning Loop Logo">
                        </a>
                        <button id="menu-close" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <div class="space-y-2 py-6">
                                {% for item in navigation.items %}   
                {% if not item.primary %}
                                
                                <a href="{{ item.link }}"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-integral hover:bg-gray-50">{{ item.text }}</a>
                                {% endif %}
                                {% endfor %}

                            </div>
                            <div class="py-6">
                                {% for item in navigation.items %}   
                                {% if item.primary %}
                                <a href="{{ item.link }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-integral hover:bg-gray-50">{{ item.text }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>








